.page {
    background-image: url(../../assets/images/thought-catalog-505eectW54k-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  
}
.overlay {
  background-color: rgba(0,0,0,0.6); 
  height: 100vh;
  padding: 2rem;
  border-radius: 12px;
  color: white;
}