.search-input {
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    color: var(--main-text-color);
    padding: 0.5rem 2.5rem 0.5rem 0.75rem;
    transition: all 0.3s ease;
    font-size: 14px;
}

.search-input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--light-primary-color);
}

.search-input option {
    background-color: var(--background-color);
    color: var(--main-text-color);
}

.dropdown {
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    color: var(--main-text-color);
    padding: 0.5rem 0.75rem;
    transition: all 0.3s ease;
    font-size: 14px;
    width: 100%;
    
}

.dropdown:focus {
    outline: none;
    border-color: var(--light-primary-color);
    box-shadow: 0 0 5px var(--light-primary-color);
}

.dropdown option {
    background-color: var(--background-color);
    color: var(--main-text-color);
    width: 100%; 
    box-sizing: border-box;
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis;
}