.search-input {
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--main-text-color);
    padding: 0.5rem 2.5rem 0.5rem 0.75rem;
    transition: all 0.3s ease;
    font-size: 14px;
}

.search-input:focus {
    outline: none;
<<<<<<< HEAD
    border-color: var(--light-primary-color);
    box-shadow: 0 0 5px var(--light-primary-color);
=======
    border-color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
>>>>>>> 44c5c17 (teacher Page with book now button to navigate to payment page)
}

.search-input option {
    background-color: var(--background-color);
    color: var(--main-text-color);
}

.dropdown {
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--main-text-color);
    padding: 0.5rem 0.75rem;
    transition: all 0.3s ease;
    font-size: 14px;
    width: 100%;
}

.dropdown:focus {
    outline: none;
<<<<<<< HEAD
    border-color: var(--light-primary-color);
    box-shadow: 0 0 5px var(--light-primary-color);
=======
    border-color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
>>>>>>> 44c5c17 (teacher Page with book now button to navigate to payment page)
}

.dropdown option {
    background-color: var(--background-color);
    color: var(--main-text-color);
}