@import "tailwindcss";
@plugin "daisyui";
@import '@fortawesome/fontawesome-free/css/all.min.css';





:root {
  /* colors */
  --background-color: #FFFBFA;
  --primary-color: #016a6d; /*border - icons - special text - highlights*/
  --light-primary-color: #1d9190;
  --secondary-color: #f2773b; /*buttons*/
  --light-secondary-color: #faddcf; /*light background*/
  --light-background: #eaf9f9;
  --dark-color: #043e52; /* for titles */
  --card-background: #fff;
  --footer-background: #043e52;
  --stars-color: #ffb500;
  --text-color: #7e7d7d; /*paragraphs*/
  --main-text-color: #585858;
  --error-color: #e86366;
  --success-color: #76bfa4;
  --admin-bg-color: #f2f3f4;
  --admin-even: #effefe;
  --admin-odd: #f8f7ff;
  --hr-color: #f0f0f0;
  --hr-footer: #054a61;
  --border-radius: 10px;
  --box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  /* text */
  --title-font-size: 30px;
  --font-size-xs: 14px;
  --line-height: 1.7;
}
.dark {
  --background-color: #232323;
  --light-background: #2a2a2a;
  --light-secondary-color: #242424;
  --card-background: #292929;
  --text-color: #a9a8a8;
  --main-text-color: #a9a8a8;
  --dark-color: #1d9190;
  --primary-color: #28bcb9;
  --admin-bg-color: #2f2e2e;
  --admin-even: #383737;
  --admin-odd: #323232;
  --footer-background: #222222;
  --hr-color: #252525;
  --hr-footer: #323232;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.6);
}


/* Dark mode update */
/* .dark {
  --background-color: #1a1d21;
  --light-background: #24282e; 
  --text-color: #b0b3b8;
  --main-text-color: #ffffff; 
  --dark-color: #1d9190;
  --primary-color: #28bcb9;
  --admin-bg-color: #2f2e2e;

  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6),
  0 0 1px rgba(0, 0, 0, 0.8);
} */
/* Dark mode update */



* {
  box-sizing: border-box;
}
html {
  background-color: var(--background-color);
}
body {
  margin: 0;
  padding: 0;
  /* dark and light mode */
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;}

.container {
  width: 95%;
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}